.jumbotron {
  margin: 0;
  padding: 20px;
  background-image: linear-gradient(to right, #e8c88d, #3046c5, #cc96cc);
  color: rgb(255, 255, 255);
}

.image {
  background-image: url("img/mountain.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: rgb(197, 175, 48);
}

.container {
  border: #5637dd;
}

.search {
  display: flex;
  justify-content: center;
}
.site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0; }
  